*{
  background-color: black;
  color: white;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.userTable tbody tr > td{
  border: 1px solid rgb(220,220,220);
  height: 30px;
  padding-left: 3px;
}
.userTable{
  padding-left: 40px;
  margin-top: 20px;

}