<header>
  <h1>Leo</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Registro</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/userList">Lista de usuarios</a></li>
  </ul>
</header>